<div class="about row d-flex justify-content-center">

  <div class="row col-md-5 text-row">
    <div class="text-about">
    <h1>Quienes somos?</h1>
    <p>Somos una empresa conformada por gente joven y emprendedora, con el objetivo de brindar productos y servicios de ingeniería informática con tecnología de punta, que apoyan los procesos y la toma de decisiones en el ámbito empresarial Colombiano.</p>
    <a href="" class="botonnav"><span class="text-animation">Contactanos</span> </a>
  </div>
  </div>
  <div class="row col-md-4">
    <img src="assets/img/monitor.png" alt="">
  </div>
</div>
