<div class="row row-servicios">

  <h1>Nuestros Servicios</h1>
  <div class="row d-flex justify-content-center">




    <div class="item-tecnologias col-md-3 d-flex flex-column flex-column-center align-self-start">
      <img src="/assets/img/servicios3.png" alt="" class="img-responsive center-block">
      <h2>IT Outsourcing</h2>
      <h3>Siéntase seguro de trabajar con un equipo capacitado en diversas tecnologías, consultorías y negocios con soluciones completas de acuerdo a las necesidades del cliente.
      </h3>
    </div>

    <div class="item-tecnologias col-md-3 d-flex flex-column flex-column-center align-self-start">
      <img src="/assets/img/servicios1.png" alt="" class="img-responsive center-block">
      <h2>SoftWare a tu medida</h2>
      <h3>Los profesionales de nuestra compañía llevan a cabo actividades de análisis, diseño, construcción, pruebas e implementación a la medida de las necesidades de nuestros clientes.
      </h3>
    </div>

    <div class="item-tecnologias col-md-3 d-flex flex-column flex-column-center align-self-start">
      <img src="/assets/img/servicios4.png" alt="" class="img-responsive center-block">
      <h2>Soporte</h2>
      <h3>Asistido por profesionales especializados analizamos de manera eficiente los requerimientos de su empresa, buscando la solución que mejor se adapte a sus necesidades.
      </h3>
    </div>

    <div class="item-tecnologias col-md-3 d-flex flex-column flex-column-center align-self-start">
      <img src="/assets/img/servicios2.png" alt="" class="img-responsive center-block">
      <h2>Fabrica de software</h2>
      <h3>Contamos con profesionales especializados capaces de suplir demandas específicas garantizando efectividad y calidad.
      </h3>
    </div>



  </div>
</div>
