<div>
  <div class="row">
    <div class="col-md-12">
      <div class="header-info-content">
        <div class="div-text-content-header-info">
          <div class="div-header-info">
            <label class="title-header-info">Ofrecemos soluciones modernas
              para hacer crecer su negocio.</label>
          </div>
          <br>
          <div class="div-description-header-info">
            <label class="description-header-info">
              Transformamos ideas en realidad, una linea de codigo a la vez. !Conecta con nuestra softwate!
            </label>
          </div>
          <div class="div-buttons-header">
            <div class="row">
              <div class="col-md-4 btn-4">
                <a><span class="btn-arp btn btn-secondary btn-header">Soluciones</span></a>
              </div>
              <div class="col-md-6 btn-6" style="text-align: left;">
                <a><span class="btn-arp btn btn-secondary btn-header">Contactanos</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-animation-background>
      </app-animation-background>
    </div>
  </div>
</div>
