<div class="container-carousel">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <label class="technologies-tittle">Tecnologias & Servicios</label>
    </div>
  </div>

  <div class="row child-carousel">
    <div class="col-md-12">
      <div id="carousel" class="carousel">
        <div class="icons-container d-flex justify-content-center" id="icons-container">



          <div class="full-icon col-md-3  d-flex justify-content-center">
            <div class="icon ">
              <div class="d-flex justify-content-between">
                <h2>CSS</h2>
                <img src="assets/img/css.png" />
              </div>
              <h3>Lenguaje de diseño web para personalizar la apariencia visual..</h3>
              <h4>https://www.w3.org/Style/CSS/</h4>
            </div>
          </div>


          <div class="full-icon col-md-3  d-flex justify-content-center">
          <div class="icon ">
            <div class="d-flex justify-content-between">
              <h2>Angular</h2>
              <img src="assets/img/angular.png" />
            </div>
            <h3>Potente framework web para construir aplicaciones interactivas y dinámicas...</h3>
            <h4>https://angular.io/</h4>
          </div>
        </div>


        <div class="full-icon col-md-3  d-flex justify-content-center">
        <div class="icon ">
          <div class="d-flex justify-content-between">
            <h2>Android</h2>
            <img src="assets/img/android.png" />
          </div>
          <h3>Sistema operativo móvil líder para dispositivos inteligentes y tablets..</h3>
          <h4>https://www.android.com/intl/es_es/</h4>
        </div>
      </div>


      <div class="full-icon col-md-3  d-flex justify-content-center">
      <div class="icon ">
        <div class="d-flex justify-content-between">
          <h2>C</h2>
          <img src="assets/img/C.png" />
        </div>
        <h3>Lenguaje de programación poderoso y versátil para desarrollo software...</h3>
        <h4>https://www.cprogramming.com/</h4>
      </div>
    </div>


    <div class="full-icon col-md-3  d-flex justify-content-center">
    <div class="icon ">
      <div class="d-flex justify-content-between">
        <h2>HTML</h2>
        <img src="assets/img/html.png" />
      </div>
      <h3>Lenguaje fundamental para crear y estructurar contenido web...</h3>
      <h4>https://www.w3.org/html/</h4>
    </div>
  </div>



  <div class="full-icon col-md-3  d-flex justify-content-center">
    <div class="icon ">
      <div class="d-flex justify-content-between">
        <h2>javascript</h2>
        <img src="assets/img/js.png" />
      </div>
      <h3>Lenguaje de programación para agregar interactividad y dinamismo a sitios web...</h3>
      <h4>https://www.javascript.com/</h4>
    </div>
  </div>





<div class="full-icon col-md-3  d-flex justify-content-center">
  <div class="icon ">
    <div class="d-flex justify-content-between">
      <h2>Java</h2>
      <img src="assets/img/Java.png" />
    </div>
    <h3>Lenguaje de programación robusto y versátil para desarrollo de aplicaciones...</h3>
    <h4>https://www.java.com/es/</h4>
  </div>
</div>





<div class="full-icon col-md-3  d-flex justify-content-center">
  <div class="icon ">
    <div class="d-flex justify-content-between">
      <h2>Spring boot</h2>
      <img src="assets/img/spring.png" />
    </div>
    <h3>Marco de trabajo ágil para desarrollar aplicaciones Java de manera rápida y sencilla...</h3>
    <h4>https://www.javascript.com/</h4>
  </div>
</div>




        </div>
        <button class="prev-btn" (click)="scrollLeft()"></button>
        <button class="next-btn" (click)="scrollRight()"> </button>
      </div>
    </div>
  </div>
</div>
